---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Starting the Sketch</h2>

          <p>Today we will be making a cube with a sphere inside of it. To begin select the sketch tab in the top left corner. Click start sketch and choose the top plane as your sketch plane.</p>
          <img src="assets/images/1-1-1.jpg">

          <p>Click <a href="1-2.html">here</a> for the next step.</p>
        </div>
      </div>
    </div>
  </body>
</html>