---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Saving the Sketch</h2>

          <p>Now that we have created the geometry that we want the printer to model we need to save the file in a filetype which the cubepro can interpret and build. Select file Save As and save as a .stl file. We will then import this file into the cubepro software so that it can be oriented properly for the machine to print. </p>
          <img src="assets/images/1-4-1.jpg">

          <p>Click <a href="3-1.html">here</a> for the next step.</p>
        </div>
      </div>
    </div>
  </body>
</html>