---
---

<html>
  <head></head>
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2 id="2">Configuring the 3D Printer</h2>

          <h3 id="2-1">Tweaking the Printer Settings</h3>

          <ol>
            <li>
              <p>In the CubePro software, you will need to set the printer configurations for your project. For this application, you will use the settings shown below.</p>
              <img src="assets/images/2-1-1.jpg">
            </li>
          </ol>

          <h3 id="2-2">Orienting the 3D Model</h3>

          <ol>
            <li>
              <p>You need to make the sphere flush with the bottom face. Rotate the cube and sphere until you have the orientation shown below.</p>
              <img src="assets/images/2-2-1.jpg">
            </li>
            
            <li>
              <p>Wait until the model is fully built with the new orientation.</p>
              <img src="assets/images/2-2-2.jpg"></p>
              </li>
          </ol>

          <h3 id="2-finished">Once You've Finished...</h3>

          <p>Click <a href="3.html#3">here</a> for the next step.</p>
        </div>
      </div>
    </div>
    {% include import.html %}
  </body>
</html>