---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Tweaking the Printer Settings</h2>

          <p>In the cubepro software you will need to set the printer configurations for your project. For this application we will use the settings shown above.</p>
          <img src="assets/images/3-1-1.jpg">

          <p>Click <a href="3-2.html">here</a> for the next step.</p>
        </div>
      </div>
    </div>
  </body>
</html>