---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Orienting the 3D Model</h2>

          <p>We want the face that the sphere is flush with to be the bottom face. Rotate the cube and sphere until you have this orientation as shown above.</p>
          <img src="assets/images/3-2-1.jpg">

          <p>Wait until the model is fully built with the new orientation.</p>
          <img src="assets/images/3-2-2.jpg">

          <p>Click <a href="4-1.html">here</a> for the next step.</p>
        </div>
      </div>
    </div>
  </body>
</html>