---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Starting up CubePro</h2>

          <p>To start the cubepro first turn on power by flipping the switch on the right side of the cubepro.</p>
          <img src="assets/images/4-1-1.jpg">

          <p>Insert the flashdrive with your cubepro build file into the usb port on the side of the printer.</p>
          <img src="assets/images/4-1-2.jpg">

          <p>Click <a href="4-2.html">here</a> for the next step.</p>
        </div>
      </div>
    </div>
  </body>
</html>