---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Checking the Cartridge</h2>

          <p>The screen you see above is the home screen. Before printing can begin the setup icon must be selected.</p>
          <img src="assets/images/4-2-1.jpg">

          <p>Once setup has been chosen the user should select cartridge status to check what plastic is in the cartridge and how much is left.</p>
          <img src="assets/images/4-2-2.jpg">

          <p>The cartridge status here shows that ABS plastic is being used with 5% remaining. Once it is determined that there is sufficient material press the check button to return to the previous screen.</p>
          <img src="assets/images/4-2-3.jpg">

          <p>Now that the cartridge is set up select the arrow to the right for the next step.</p>
          <img src="assets/images/4-2-4.jpg">

          <p>Click <a href="4-3.html">here</a> for the next step.</p>
        </div>
      </div>
    </div>
  </body>
</html>