---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Checking the Plate</h2>

          <p>Select level plate to ensure that the jet has an even surface to print on.</p>
          <img src="assets/images/4-3-1.jpg">

          <p>To adjust the height of the plate turn the knobs underneath the plate. Clockwise lifts the plate and counterclockwise lowers the plate.</p>
          <img src="assets/images/4-3-2.jpg">

          <p>To determine if the plate is level place a piece of paper on the plate between the jet and the plate. Adjust the plate until there is some resistance to move the plate. For best results try to create the same level of resistance for each of the three locations.</p>
          <img src="assets/images/4-3-3.jpg">

          <p>Click <a href="4-4.html">here</a> for the next step.</p>
        </div>
      </div>
    </div>
  </body>
</html>