---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Printing the 3D Object</h2>

          <p>Now that the setup is complete the print option can be selected.</p>
          <img src="assets/images/4-4-1.jpg">

          <p>Select the part you created and touch print.</p>
          <img src="assets/images/4-4-2.jpg">

          <p>The cubepro will then notify you to apply glue to the plate.</p>
          <img src="assets/images/4-4-3.jpg">

          <p>Apply glue to the build plate over the area that we will be printing onto. Try to create as consistent of a layer of glue as possible.</p>
          <img src="assets/images/4-4-4.jpg">

          <p>Once started the 3D printer will layer material onto itself to create the geometry inputted through the file.</p>
          <img src="assets/images/4-4-5.jpg">

          <p>Once the printing process is complete you will be left with your almost finished object sitting on your build plate. Carefully remove the object from the printer and break off the internal supports created in the printing process and you will be left with your finished product.</p>
          <img src="assets/images/4-4-6.jpg">

          <p>Congratulations! You have printed your first object with 3D printing. The methods discussed in this tutorial can be used to print a range of objects with a variety of uses.</p>
          <img src="assets/images/4-4-7.jpg">

          <p>Click <a href="/">here</a> to go back to the beginning.</p>
        </div>
      </div>
    </div>
  </body>
</html>