---
---

<html>
  {% include import.html %}
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="content-wrapper">
        {% include sidebar.html %}
        <div id="content">
          <h2>Introduction</h2>

          <p>3D Printing is a very useful technology for prototyping, manufacturing, and personal use. The Cubepro printers that CMU's Mechanical Engineering Department has purchased are an excellent resource to introduce undergraduates to 3D Printing. These printers are relatively simple in the world of 3D Printing, but they do require initial instruction in proper use. This guide will provide that instruction.</p>

          <p>Click <a href="1-1.html">here</a> for the next step, if you would like to create your own 3D model.</p>

          <p>Click <a href="2-1.html">here</a> for the next step, if you would like to download a 3D model.</p>
        </div>
      </div>
    </div>
  </body>
</html>