<div id="header">
  <div id="title">
    <a href="index.html">
      <img src="assets/images/banner.png" style="width:100%; position:relative; top:-37px">
    </a>
  </div>
  <div id="menu">
    <ul id="menu-bar">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="dropdown">
        <a href="1a.html#1a" class="dropbtn">Downloading the 3D Model</a>
        <div class="dropdown-content">
          <a href="1a.html#1a-1">Downloading the 3D Model</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="1b.html#1b" class="dropbtn">Sketching the 3D Model</a>
        <div class="dropdown-content">
          <a href="1b.html#1b-1">Starting the Sketch</a>
          <a href="1b.html#1b-2">Sketching the Cube</a>
          <a href="1b.html#1b-3">Sketching the Sphere</a>
          <a href="1b.html#1b-4">Saving the Sketch</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="2.html#2" class="dropbtn">Configuring the 3D Printer</a>
        <div class="dropdown-content">
          <a href="2.html#2-1">Tweaking the Printer Settings</a>
          <a href="2.html#2-2">Orienting the 3D Model</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="3.html#3" class="dropbtn">Printing the 3D Object</a>
        <div class="dropdown-content">
          <a href="3.html#3-1">Starting up CubePro</a>
          <a href="3.html#3-2">Checking the Cartridge</a>
          <a href="3.html#3-3">Checking the Plate</a>
          <a href="3.html#3-4">Printing the 3D Object</a>
        </div>
      </li>
    </ul>
  </div>
</div>