<div id="sidebar">
  <ul class="outer-list">
    <h2>Steps</h2>
    <li class="stage-element">
      <a id="1a-sidebar" href="1a.html#1b">Stage 1a: Downloading the 3D Model</a>
    </li>
    <li>
      <ul class="inner-list">
        <li>
          <a id="1a-1-sidebar" href="1a.html#1a-1">Step 1: Downloading the 3D Model</a>
        </li>
      </ul>
    </li>
    <li class="stage-element">
      <a id="1b-sidebar" href="1b.html#1b">Stage 1b: Sketching the 3D Model</a>
    </li>
    <li>
      <ul class="inner-list">
        <li>
          <a id="1b-1-sidebar" href="1b.html#1b-1">Step 1: Starting the Sketch</a>
        </li>
        <li>
          <a id="1b-2-sidebar" href="1b.html#1b-2">Step 2: Sketching the Cube</a>
        </li>
        <li>
          <a id="1b-3-sidebar" href="1b.html#1b-3">Step 3: Sketching the Sphere</a>
        </li>
        <li>
          <a id="1b-4-sidebar" href="1b.html#1b-4">Step 4: Saving the Sketch</a>
        </li>
      </ul>
    </li>
    <li class="stage-element">
      <a id="2-sidebar" href="2.html#2">Stage 2: Configuring the 3D Printer</a>
    </li>
    <li>
      <ul class="inner-list">
        <li>
          <a id="2-1-sidebar" href="2.html#2-1">Step 1: Tweaking the Printer Settings</a>
        </li>
        <li>
          <a id="2-2-sidebar" href="2.html#2-2">Step 2: Orienting the 3D Model</a>
        </li>
      </ul>
    </li>
    <li class="stage-element">
      <a id="3-sidebar" href="3.html#3">Stage 3: Printing the 3D Object</a>
    </li>
    <li>
      <ul class="inner-list">
        <li>
          <a id="3-1-sidebar" href="3.html#3-1">Step 1: Starting up CubePro</a>
        </li>
        <li>
          <a id="3-2-sidebar" href="3.html#3-2">Step 2: Checking the Cartridge</a>
        </li>
        <li>
          <a id="3-3-sidebar" href="3.html#3-3">Step 3: Checking the Plate</a>
        </li>
        <li>
          <a id="3-4-sidebar" href="3.html#3-4">Step 4: Printing the 3D Object</a>
        </li>
      </ul>
    </li>
  </ul>
</div>